@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
}


*, 
*::after, 
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: currentColor;
}



/* Navbar */
.header {
    
    z-index: 1;
    position: fixed;
    width: 100%;
}
.header__container {
    color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    height: 70px;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 1.2px;
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 15px;
    list-style-type: none;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero__content {
    position: absolute;
}
.hero__title {
    color: #fff;
    font-size: 5rem;
}
.hero__background {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.movie {
    box-shadow: 2px 10px 10px rgba(0, 0, 0, .4);
    border-radius: 1rem;
    padding: 2rem;
    overflow: hidden;
}
.movie__image {
    border-radius: .5rem;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

