@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&family=Poppins:wght@200;300;400;600;700;800;900&display=swap");
/* Containers */
.container {
  padding: 0 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

/* Logo */
.logo {
  cursor: pointer;
  font: normal 500 1.6em "Poppins", sans-serif;
  color: #fff; }
  @media screen and (min-width: 768px) {
    .logo {
      font-size: 1.4em; } }

/* Button */
.button__container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: .5rem; }
  .button__container #quantity {
    max-width: 60px;
    height: 2rem;
    padding: 0 .4rem;
    border-radius: .2rem;
    border: none; }

.button {
  background-color: #5a189a;
  border: none;
  padding: .5rem;
  cursor: pointer;
  border-radius: .2rem;
  min-width: 2rem;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out; }
  .button:hover {
    background-color: #3c096c;
    color: #fff; }
  .button:disabled {
    cursor: default;
    background-color: #EFEFEF4D;
    color: #EFEFEF8D; }
    .button:disabled:hover {
      background-color: #EFEFEF4D;
      color: #EFEFEF8D; }

#ticket-type {
  max-width: 60px;
  height: 2rem;
  padding: 0 .2rem; }

/****   Globals    ****/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  background-color: #222; }
  @media screen and (min-width: 768px) {
    body {
      font-size: .8em; } }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: unset; }

ul {
  list-style-type: none; }

/*** Navbar ***/
#navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0 1rem;
  top: 0;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
  background-color: #111; }

#check {
  display: none; }

.navigator {
  height: 70px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 992px) {
    .navigator {
      height: 55px; } }
  .navigator__wrapper {
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    margin: 0; }
  .navigator__item {
    transition: all 0.2s ease-in-out;
    position: relative;
    padding: .6rem;
    margin: 0 !important; }
    .navigator__item::after {
      content: '';
      background-color: #fff;
      bottom: 0;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transform-origin: bottom right;
      height: 2px;
      width: 100%;
      transition: transform 0.2s ease-in-out; }
    .navigator__item:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left; }
  .navigator__item--cta {
    background-color: #fff;
    color: #111;
    border-radius: 5px;
    transition: all 0.2s ease-in-out; }
    .navigator__item--cta:hover {
      background-color: #3c096c;
      color: #fff; }
    .navigator__item--cta::after {
      display: none; }

.checkbtn {
  cursor: pointer;
  display: none; }

@media (max-width: 768px) {
  .checkbtn {
    display: block; }
  .navigator {
    flex-direction: row-reverse; }
    .navigator__wrapper {
      background-color: #111;
      position: fixed;
      flex-direction: column;
      top: 0;
      left: -100%;
      text-align: center;
      z-index: -1;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in-out;
      height: 100vh;
      width: 100%; }
    .navigator__item {
      display: block;
      margin: 1rem 0;
      color: #fff; }
      .navigator__item::after {
        content: '';
        position: absolute;
        display: none; }
    .navigator__item--cta {
      color: #111; }
  #check:checked ~ ul {
    left: 0; } }

.footer {
  background-color: #111; }
  .footer__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    color: #eee; }

.card {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  animation: fadeIn 3s; }
  .card:hover {
    transform: scale(105%); }
  .card__image {
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.4);
    height: 285px;
    width: 100%;
    object-fit: cover; }
  .card__title {
    font-size: 1em;
    text-align: center;
    margin: .2rem 0;
    color: #eee;
    font-weight: 500; }

.hero {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 70px;
  margin: 1rem auto;
  position: relative; }
  .hero #background {
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.4); }
  .hero__content {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(17, 17, 17, 0.4) 10%, rgba(10, 10, 10, 0) 80%);
    display: flex;
    align-items: flex-end;
    justify-content: start; }
  .hero__text {
    padding: 1rem;
    display: flex;
    flex-direction: column; }
  .hero__title {
    color: #fff;
    font-size: 3em; }
  .hero__subtitle {
    color: #fff;
    font-size: 2em; }

.section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }
  .section__title {
    font-size: 2em;
    color: #eee;
    font-weight: 400;
    margin-bottom: 1rem; }
  .section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px; }
    @media screen and (min-width: 768px) {
      .section__grid {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (min-width: 992px) {
      .section__grid {
        grid-template-columns: repeat(6, 1fr); } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s .6s ease-in-out;
  --transform: translateY(-100vh);
  --transition: transform .8s; }
  .modal__container {
    margin: auto;
    overflow-y: initial !important;
    background-color: #111;
    display: flex;
    z-index: 99;
    max-width: 1200px;
    height: 90vh;
    width: 100%;
    transform: var(--transform);
    transition: var(--transition);
    position: relative; }
  .modal__body {
    overflow-y: auto;
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-areas: 'tickets movie'; }
  .modal__close {
    cursor: pointer;
    background-color: unset;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    z-index: 50; }

.movie {
  grid-area: movie; }
  .movie__header {
    position: relative; }
    .movie__header--content {
      padding: 0 1.5rem;
      position: absolute;
      bottom: 0;
      background: #111111;
      background: linear-gradient(0deg, #111111 10%, rgba(17, 17, 17, 0) 100%);
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-start; }
    .movie__header--image {
      object-fit: cover;
      height: 450px;
      width: 100%; }
    .movie__header--title {
      font-size: 3em;
      font-weight: 600;
      margin-bottom: 10px;
      color: #fff; }
    .movie__header--wrapper {
      display: flex;
      gap: 15px;
      justify-content: flex-start;
      align-items: center; }
    .movie__header--data {
      font-size: 1.2em;
      color: #aaa;
      padding: .2rem 0; }
    .movie__header--certification {
      text-align: center;
      min-width: 4rem;
      border: 2px solid #fff;
      color: #fff;
      padding: .2rem .6rem; }
    .movie__header--genres {
      position: relative;
      display: flex;
      align-items: center; }
      .movie__header--genres::before {
        content: '';
        position: absolute;
        height: 18px;
        width: 2px;
        background-color: currentColor; }
    .movie__header--genre {
      margin-left: 10px; }
  .movie__body {
    padding: 0 1.5rem;
    margin: 20px 0; }
    .movie__body--title {
      font-size: 1.4em;
      font-weight: 400;
      color: #fff;
      margin: 10px 0; }
    .movie__body--text {
      color: #aaa;
      font-size: .8rem; }
    .movie__body--textHighlighted {
      color: #fff; }
    .movie__body--trailer {
      height: 315px;
      width: 560px; }

.tickets {
  grid-area: tickets;
  background-color: #111;
  padding: 1rem; }
  .tickets__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .tickets__subtotal {
    color: #fff;
    font-size: 1.6em;
    font-weight: 600; }
  .tickets__text {
    color: #eee;
    font-size: 1em; }
    .tickets__text#subtotal {
      margin-bottom: 20px;
      font-size: 1.8em; }
  .tickets__seats {
    margin-bottom: 20px; }
    .tickets__seats--row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    .tickets__seats--screen {
      position: relative;
      background-color: #fff;
      margin-bottom: 20px;
      box-shadow: 0 3px 10px rgba(255, 255, 255, 0.4);
      height: 70px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .tickets__seats--screen::after {
        content: 'Pantalla';
        position: relative;
        font-size: 1.2em; }
    .tickets__seats--seat {
      background-color: #444;
      margin: 3px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: none;
      cursor: pointer;
      transition: all .1s ease-in-out;
      height: 12px;
      width: 15px; }
      .tickets__seats--seat.selected {
        background-color: #fff; }
      .tickets__seats--seat:hover {
        transform: scale(1.2);
        background-color: #5a189a;
        box-shadow: 0 3px 10px #59189a77; }
      .tickets__seats--seat:nth-of-type(2) {
        margin-right: 18px; }
      .tickets__seats--seat:nth-last-of-type(2) {
        margin-left: 18px; }

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
  z-index: 98; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  color: #aaa; }
  .form input {
    padding: .2rem 1rem;
    margin: 5px 0 15px 0; }

.table {
  background-color: #333;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  .table tbody {
    color: #eee; }

#loading {
  margin: 0 auto;
  max-width: 1200px;
  font-size: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
