@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&family=Poppins:wght@200;300;400;600;700;800;900&display=swap");

@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/utilities';

@import './base/base';

@import './layout/navbar';
@import './layout/footer';
@import './layout/card';

@import './pages/home';

.section { 
    @include container(1200px);
    padding: 1rem;
    padding-top: 120px;
    
    &__title {
        font-size: 2em;
        color: $color__white--2;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        @include responsive( tablet ){
            grid-template-columns: repeat(4, 1fr);
        }
        @include responsive( desktop ){
            grid-template-columns: repeat(6, 1fr);
        }
    }
}





.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s .6s ease-in-out;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    &__container{
        margin: auto;
        overflow-y: initial !important;
        background-color: $color__black--1;
        display: flex;
        z-index: 99;
        max-width: 1200px;
        @include size(90vh, 100%);
        transform: var(--transform);
        transition:var(--transition);
        position: relative;
    }
    &__body {
        overflow-y: auto;
        display: grid;
        grid-template-columns:  .5fr 2fr;
        grid-template-areas: 'tickets movie';
    }
    &__close {
        cursor: pointer;
        background-color: unset;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        z-index: 50;
    }
    

}
.movie {
    grid-area: movie;
    &__header {
        position: relative;
        &--content {
            padding: 0 1.5rem;
            position: absolute;
            bottom: 0;
            background: rgb( 17, 17, 17 );
            background: 
            linear-gradient(
                0deg, 
                rgba( 17, 17, 17, 1 ) 10%, 
                rgba( 17, 17, 17, 0 ) 100% 
            );
            @include size; // por default, 100% x 100%
            @include flex( column, end, flex-start );
        }
        &--image{
            object-fit: cover;
            @include size(450px, 100%);   
        }
        &--title {
            font-size: 3em;
            font-weight: 600;
            margin-bottom: 10px;
            color: $color__white--1;
        }
        &--wrapper {
            display: flex;
            gap: 15px;
            justify-content: flex-start;
            align-items: center;
        }
        &--data {
            font-size: 1.2em;
            color: $color__white--3;
            padding: .2rem 0;
        }
        &--certification {
            text-align: center;
            min-width: 4rem;
            border: 2px solid $color__white--1;
            color: $color__white--1;
            padding: .2rem .6rem;
        }
        &--genres {
            position: relative;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                position: absolute;
                @include size( 18px, 2px );
                background-color: currentColor;
            }
        }
        &--genre {
            margin-left: 10px;
        }   
    }
    
    &__body {
        padding: 0 1.5rem;
        margin: 20px 0;
        &--title{
            font-size: 1.4em;
            font-weight: 400;
            color: $color__white--1;
            margin: 10px 0;
        }
        &--text {
            color: $color__white--3;
            font-size: .8rem;
        }
        &--textHighlighted {
            color: $color__white--1;
        }
        &--trailer{
            @include size( 315px, 560px );
        }
    }
}

.tickets {
    grid-area: tickets;
    background-color: $color__black--1;
    padding: 1rem;
    &__container {
        position: fixed;
        @include flex( column, center, flex-start );
    }
    &__subtotal {
        color: $color__white--1;   
        font-size: 1.6em;
        font-weight: 600;
    }
    &__text {
        color: $color__white--2;
        font-size: 1em;
        &#subtotal {
            margin-bottom: 20px;
            font-size: 1.8em;
        }
    }
    &__seats { 
        margin-bottom: 20px;
        &--row {
            @include flex(row);
        }
        &--screen {
            position: relative;
            background-color: #fff;
            margin-bottom: 20px;
            box-shadow: 0 3px 10px rgba(255, 255, 255, .4);
            @include size(70px, 100%);
            @include flex();
            &::after {
                content: 'Pantalla';
                position: relative;
                font-size: 1.2em;
            }
        }
        &--seat{
            background-color: #444;
            margin: 3px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border: none;
            cursor: pointer;
            transition: all .1s ease-in-out;
            @include size( 12px, 15px );
            &.selected {
                background-color: $color__white--1;
            }
            &:hover {
                transform: scale(1.2);
                background-color: $color__primary;
                box-shadow: 0 3px 10px #59189a77;
            }
            &:nth-of-type(2) { margin-right: 18px; }
            &:nth-last-of-type(2) { margin-left: 18px; }
        }
    }
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
    z-index: 98;
}

.form {
    @include flex( column, start, flex-start );
    color: $color__white--3;
    input {
        padding: .2rem 1rem;
        margin: 5px 0 15px 0;
    }
}


.table {
    background-color: #333;
    color: $color__white--1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    & tbody {
        color: $color__white--2;
    }
}    




#loading {
    margin: 0 auto;
    max-width: 1200px;
    font-size: 2em;
    color: $color__white--1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}