.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    &__background {
        object-fit: cover;
        height: 100vh;
        width: 100%;
        background-color: $color__primary;
    }
    &__content {
        position: absolute;
    }
    &__title {
        color: #fff;
        font-size: 5rem;
    }
}


