.movie {
    box-shadow: 2px 10px 10px rgba(0, 0, 0, .4);
    border-radius: 1rem;
    overflow: hidden;
}
.movie__image {
    border-radius: .5rem;
    height: 285px;
    width: 190px;
    object-fit: cover;
}