.movie {
    @include transition;
    cursor: pointer;
    &:hover {
        transform: scale(105%);
    }
    &__image {
        box-shadow: 2px 10px 10px rgba(0, 0, 0, .4);
        height: 285px;
        width: 100%;
        object-fit: cover;
    }
    &__title {
        font-size: 1em;
        text-align: center;
        margin: .2rem 0;
        color: $color__white--2;
        font-weight: 500;
    }
}
